<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>


<h2>User Create Form</h2>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">First name:</label><br>
    <input id="name" placeholder="Enter Name" required type="text" th:field="*{name}"/><br>
    <label for="lastName">Last name:</label><br>
    <input id="lastName" placeholder="Enter Last Name" required type="text" th:field="*{lastname}"/><br>
    <label for="age">Age:</label><br>
    <input id="age" placeholder="Enter age" required type="text" th:field="*{age}"/><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>